{{ define "Sidebar" }}
    <div class="sidebar" data-color="blue" data-image="{{ .Static }}img/sidebar-4.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Celerates University
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-user"></i>
                        <p>Admin List</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-note2"></i>
                        <p>Student List</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{{ end }}